page-home-menu {
  .toolbar-background{
    background-color: #36884D;
  }  

  // .title2{
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  //   text-align: center;
  //   padding: 15% 0 20% 0;
  //   background-color: #36884D;
  //   background-image: linear-gradient(#36884D, #FFFFFF);
  // }

  .title2{
    // position: absolute;
    // top: 0;
    width: 100%;
    text-align: center;
    // padding: 15% 0 0 0;
    padding: 5% 0 0 0;
    background-color: #36884D;
    background-image: linear-gradient(#36884D, #FFFFFF);
  }

  .ucapan{
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: 500;
  }

  .nama{
    color: #FFFFFF;
    font-size: 14pt;
    font-weight: bold;
  }

  .menu{
    position: relative;
    // margin: 30% auto 10% auto;
    margin: 5% auto 10% auto;
    text-align: center;
    font-size: 10.5pt;
    width: 80%;
    padding: 3% 0 3% 0;
    border-radius: 10px;
  }

  .menu .row{
    margin-bottom: 4%;
    margin-top: 4%;
  }

  .kotak{
    background-color: #fff59d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    display: block;
    margin: auto auto 6% auto;
  }

  .kotak .icon{
    font-size: 30px;
  }

  hr{
    height: 8px;
    background-color: #e0e0e0;
  }

  .styleSubJudul{
    font-size: 12pt;
    color: #1a1a1a;
    font-weight: 500;
  }

  .scroll-zoom-wrapper {
    white-space: nowrap;
  }

  .promo{
    clear: both;
    font-size: 11pt;
    color: #1a1a1a;
    margin-top: 4%;
    padding-left: 4%;
  }

  .scroll-promo{
    min-height: 150px; 
    height: auto;
    .scroll-content {
      padding: 0px !important;
    }    
  }

  .card-promo{
    width: 130px;
    height: 130px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 1%;
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    padding: 4%;
    bottom: 0;
    font-size: 9pt;
    width: 100%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: white;
    font-weight: bold;
  }

  .img-promo{
    height: 130px;
    object-fit: cover;
  }

  .berita{
    font-size: 11pt;
    color: #1a1a1a;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-left: 4%;
  }

  .scroll-berita{
    min-height: 210px; 
    height: auto;
    .scroll-content {
      padding: 0px !important;
    }    
  }

  .card-berita{
    width: 70%;
    height: 190px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 1%;
  }

  .berita-judul{
    font-weight: 500;
    font-size: 11pt;
    overflow: hidden;
    max-height: 22px;
  }

  .berita-isi{
    font-weight: normal;
    font-size: 10pt;
    overflow: hidden;
    max-height: 35px;
    margin: 1% 0 2% 0;
    text-align: justify;
    width: 100%;
  }

  .img-berita{
    height: 110px;
    object-fit: cover;
  }
}
  