page-riwayat-detail-transfer-antarbank {
    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }

    .icon{
        color: #0a6fd6;
        font-size: 18px;
        font-weight: bold;
    }
}
