page-akun-list-mutasi {
    .toolbar-background{
        background-color: #36884D;
    }

    .icon{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
    }

    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }

    .list-avatar-page {
        ion-note {
          font-size: 12px;
          align-self: flex-start;
          margin-top: 14px;
        }
        h2{ 
            font-size: 18px;
            font-weight: bold;            
        }
        p{
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
}
