page-transfer {
    .fab{
        margin-right: 6%;
        margin-bottom: 6%;
    }

    .card{
        width: 90%;
        display: block;
        margin: 7% auto;
        border-radius: 5px;
        padding: 1%;
    }

    .teks{
        font-size: 11pt;
    }

    .button{
        border-radius: 5px;
    }
}
