page-pesan-saya {
  .list-avatar-page {
    ion-item{
      margin-bottom: -16px;
    }

    h1{   // tgl
      font-size: 14px;
      color: gray;
      margin-bottom: -19px;
      text-align: end;
    }

    h2{   // title
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: bold;
    }

    p{    // msg
      font-size: 16px; 
    }

  }
}
